<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<h2>Info</h2>
<br>
<form th:method="POST" th:action="@{/createUser}" th:object="${user}">
  <div>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>

    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br>

    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age"/>

    <br>
    <br>
    <br>

    <input type="submit" value="Add"/>
  </div>
</form>
</body>
</html>